@import url('https://fonts.googleapis.com/css?family=Asap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background-color: #24272E;
}

header {
     background-color: white;
     padding: 20px;
}

header>p {
     color: #24272E;
     text-align: center;
     font-family: asap, sans-serif;
     display: inline-block;
     width: 33%;
     font-size: 2.5em
}

#selectGame {
     display: inline-block;
     width: 33%;
     text-align: right;
}

.score-board {
     margin: 20px auto;
     border: 3px solid white;
     border-radius: 4px;
     text-align: center;
     width: 200px;
     color: white;
     font-size: 46px;
     padding: 15px 20px;
     font-family: asap, sans-serif;
     position: relative;
}

.badge1 {
     background: #31b43a;
     color: white;
     font-size: 14px;
     padding: 2px 18px;
     font-family: asap, sans-serif;
}

.badge2 {
     background: #E2584D;
     color: white;
     font-size: 14px;
     padding: 2px 18px;
     font-family: asap, sans-serif;
}

#user-label {
     position: absolute;
     top: 30px;
     left: -30px;
}

#computer-label {
     position: absolute;
     top: 30px;
     right: -30px;
}

.result {
     font-size: 40px;
     color: white;
}

.result>p {
     text-align: center;
     font-weight: bold;
     font-family: Asap, sans-serif;
}

.choices {
     margin-top: 50px;
     text-align: center;
}

.choice {
     border: 4px solid white;
     border-radius: 50%;
     margin: 0 20px;
     padding: 10px;
     display: inline-block;
     transition: all 0.3s ease;
     width: 150px;
     height: 150px;
}

.choice:hover {
     cursor: pointer;
     background: #24272E;
}

.choice>img {
     width: 100%;
     height: 100%;
}

#action-message1,
#action-message2 {
     text-align: center;
     font-family: asap, sans-serif;
     font-weight: bold;
     font-size: 20px;
     margin-top: 20px;
}

#action-message1 {
     color: #31b43a;
}

#action-message2 {
     color: #E2584D;
}

.green-glow {
     border: 4px solid #4dcc7d;
     box-shadow: 0 0 10px #31b43a;
}

.red-glow {
     border: 4px solid #fc121b;
     box-shadow: 0 0 10px #d01115;
}

.gray-glow {
     border: 4px solid #464647;
     box-shadow: 0 0 10px #25292b;
}

.hidden {
     display: none;
}

@media only screen and (max-width: 768px) {
    header>p {
        font-size: 1em;
   }
   header {
       padding: 10px;
   }
   .score-board {
    color: white;
    font-size: 23px;
    padding: 15px 10px;
}
#user-label {
    top: 20px;
}
#computer-label {
    top: 20px;
}
.result {
    font-size: 20px;
}
  }